
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.center {
    display: flex;
    justify-content: center;
}
.add-btn {
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 5px;
}
.edit-btn {
    background-color: royalblue  !important;
    border-radius: 5px;
}
.delete-btn {
    background-color: crimson!important;
    border-radius: 5px;
}
.detail-btn {
    background-color: rosybrown !important;
    border-radius: 5px;
}
.booking-btn {
    background-color: rosybrown !important;
    border-radius: 5px;
}
.find-btn {
    color: black;
    background-color: skyblue !important;
    border-radius: 5px;
}
.booking-input {
    width: 160px;
}
.card-roommap {
    padding: 0px 20px 10px 20px;
}
.row-roommap {
    padding-top: 10px;
}
.card-room {
    width: 10rem;
    height: 9rem;
}

.status0, .status1, .status2 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 0 !important;
}
.status0-btn, .status1-btn, .status2-btn, .all-btn, .detail0-btn, .detail1-btn, .detail2-btn {
    width: 7rem;
    color: black;
    height: 2rem;
    padding: 2px;
    border-radius: 5px;
}
.detail0-btn, .detail1-btn, .detail2-btn {
    box-shadow: none;
}
.status0, .status0-btn, .detail0-btn {
    background-color: mediumseagreen !important;
}
.status1, .status1-btn, .detail1-btn {
    background-color: cornflowerblue !important;
}
.status2, .status2-btn, .detail2-btn {
    background-color: sandybrown !important;
}
.all-btn {
    background-color: rosybrown !important;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    align-self:center ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10000;
}
.popup-inner {
    display: block;
    position: absolute;
    align-self:center ;
    left: 25%;
    right: 25%;
    top: 5%;
    bottom: 25%;
    margin: auto;
    opacity: 100%;
}
  
.background
{
    position: fixed;
    width: 100%;
    height: 100%;
    background:black;
    opacity: 50%;    
}

.form
{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
}

.close
{
    position: absolute;
    top:2%;
    right: 3%;
    font-size: 2rem;
}
.form-login {
    position: absolute;
    align-self:center ;
    width: 100%;
    left: 40%;
    right: 40%;
    top: 5%;
    bottom: 25%;
    margin: auto;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    align-self:center ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(#2980B9,#6DD5FA,#ffffff);
}
.bg-img {
    background-image: url(../assets/img/photo-1499407225606-41ab9e4903d1.jpeg);
    width: 68%;
    display: block;
    position: absolute;
    align-self:center ;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-login {
    position: absolute;
    align-self:center ;
}


