.flex-end {
    display: flex;
    justify-content: flex-end;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.add-btn {
    background-color: mediumseagreen;
}
.edit-btn {
    background-color: dodgerblue;
}
.delete-btn {
    background-color: crimson;
}
.search-bar :hover{
    border-color: mediumseagreen;
}
