.flex-end {
    display: flex;
    justify-content: flex-end;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.add-btn {
    background-color: #0277bd;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 5px;
}
.edit-btn {
    background-color: #0277bd  !important;
    border-radius: 5px;
}
.delete-btn {
    background-color: #dd2c00 !important;
    border-radius: 5px;
}
